.mainContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 64px;
  }
  
  .dataContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
  }
  
  .header {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
  }
  
  .bio {
	text-align: center;
	color: gray;
	margin-top: 16px;
  }

  .important {
	font-style: 'bold';
  }
  
  .waveButton,
  .celebrationButton,
  .miningButton {
	cursor: pointer;
	margin-top: 16px;
	padding: 8px;
	border: 0;
	border-radius: 5px;
  }

  .celebrationButton {
	background-color: #68D391;
  }

  .miningButton {
	background-color: #63B3ED;
  }
  
  .waveMessageWrapper {
	margin-top: 20px;
	display: flex;
	width: 100%;
	flex-direction: column;
  }

  .memeWrapper {
	display: flex;
	width: 100%;
  }
  
  .waveMessage {
	border: 1px lightblue solid;
	margin-top: 16px;
	padding: 8px;
	border-radius: 5px;
	width: inherit;
	width: 97%;
  }

  .waveMessagesWrapper {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  flex-grow: 1;
	  width: 100%;
  }